<div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="formNome">{{'INSERT.nome' | translate}}</label>
        <input type="text" class="form-control" id="formNome">
      </div>
      <div class="form-group col-md-6">
        <label for="formCognome">{{'INSERT.cognome' | translate}}</label>
        <input type="text" class="form-control" id="formCognome">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="Comune">{{'INSERT.comune' | translate}}</label>
        <input type="text" class="form-control" id="Comune">
      </div>
      <div class="form-group col-md">
        <label for="Provincia">{{'INSERT.provincia' | translate}}</label>
        <input type="text" class="form-control" id="Provincia">
      </div>
      <div class="form-group col-md">
        <label for="CAP">{{'INSERT.indirizzo' | translate}}</label>
        <input type="text" class="form-control" id="CAP">
      </div>
    </div>
    <div class="row mt-4">
        <div class="form-group col text-center">
          <button type="button" class="btn btn-outline-primary">{{'INSERT.footer.reset' | translate}}</button>
          <button type="submit" class="btn btn-primary">{{'INSERT.footer.conferma' | translate}}</button>
        </div>
      </div>
  </div>
